@model CalBal.Models.Cilj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cilj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocTezina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocTezina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiljTezina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiljTezina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPostavljen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPostavljen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumZavrsen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumZavrsen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CiljId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
